---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Datetime from "@components/Datetime";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import ShareLinks from "@components/ShareLinks.astro";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);

const socialCount = SOCIALS.filter(social => social.active).length;

const cardPromises = sortedPosts.map(async (post) => {
  const { Content } = await post.render();
  return {
    href: `/posts/${post.slug}/`,
    frontmatter: post.data,
    Content,
    title: post.data.title,
    pubDatetime: post.data.pubDatetime.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }),
    modDatetime: post.data.modDatetime
  };
});

const cards = await Promise.all(cardPromises);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <p>
        This blog is dedicated to my son. It is a dump of everything I've learned so that an AI can be trained on it and he can always talk to me. 
      </p>
    </section>

    {
      cards.length > 0 && (
        <section id="recent-posts">
          <ul>
            {cards.map(({ href, frontmatter, Content, title, pubDatetime, modDatetime }) => (
        <li class="my-6">
      <a
        href={href}
        class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
      >
        <h2 class="font-serif mb-4">{title}</h2>
      </a>
      <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
      <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
    <br>
    <ShareLinks />
    <br>
    <hr>
    </li>
        
      ))}
          </ul>
        </section>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
